.nav{
    align-items: center;
    background-color: white;

    /* to add other components in nav bar side-by-side */
    display: flex;

    font-family: 'Josefin Sans', sans-serif;
    height: 50px;

    /* to stick (at top) when page gets scroll down */
    position: sticky;
    top: 0;

    width: 100%;

    z-index: 999;  /* to avoid overlapping of heading with navbar */
}

.topLeft, .topRight{
    flex: 3; /* total of 12 so 3 + 3 = 6 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter{
    flex: 6; /* remaining 6 */
}

/* profile image */
.topImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer; /* when we hover over then the cursor becomes pointer */
}

.topList{
    display: flex; /* This makes content appear side by side */
    /* flex-direction: column; This make all of the content arranged one below another */
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none; /* this removes the bullet icons from the list items */
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}